* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: rgb(174, 246, 174);
    display: flex;
    align-items: center;
    justify-content: center;

}

#container {
    overflow: hidden;
    height: 80%;
    width: 80%;
    background-color: white;
    border-radius: 10px;

}

#bar {

    height: 100px;
    width: 100%;
    background-color: rgb(80, 148, 80);
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
    padding: 0 30%;
}

#smallbar {
    display: flex;
    align-items: center;
    gap: 20px;

}

#box {
    padding: 8px 16px;
    background-color: white;
    border-radius: 5px;
    color: rgb(34, 242, 86);
    font-weight: 900;
    font-size: 18px;

}

#panelbottom {
    width: 100%;
    height: calc(100% - 100px);
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

#bubble {

    height: 60px;
    width: 60px;
    background-color: rgb(80, 148, 80);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 500;
}

#bubble:hover {
    background-color: rgb(39, 86, 39);
    cursor: grab;
}